/* *{
	margin: 0;;
	padding: 0;
	outline:none;
	border:none;
	text-decoration: none; 
	box-sizing: border-box;
	font-family:sans-serif ;
} */
.sidebar{
	
	display: inline-block;
	/* width: 150px;
	height: 100vh; */
	background: #e2e9f7;
}
.side-nav{
	
	width: 150px;
	height: 100%;
	background:white;
	position: fixed;
	top: 0;
	left: 0;
	/* padding: 20px 30px; */
	padding-top:100px;
}
/* .logo{
	display: block;
	margin-bottom: 130px;
} */
.logo-img{
	width: 40px;

} 
 .nav-links{
	list-style: none;
	position: relative;
}
.nav-links li{
	padding: 10px 0;
}
.nav-links li a{
	color: black;
	text-decoration: none;
	padding: 10px 14px;
	display: flex;
	align-items: center ;
}
.nav-links li a i{
	font-size: 22px;
	margin-right: 20px;
} 
 .active{
	background:rgb(202, 187, 187);
	width: 100%;
	height: 47px;
	position: absolute;
	left: 0;
	top: 0;
	z-index:  -1;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(218, 214, 214, 0.4);
	display: none;
} 
 .nav-links li:hover ~ .active{
	display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
	top: 2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
	top: 19.2%;
}
.nav-links li:nth-child(3):hover ~ .active{
	top: 35.8%;
}
.nav-links li:nth-child(4):hover ~ .active{
	top: 52.4%;
}
.nav-links li:nth-child(5):hover ~ .active{
	top: 69%;
}
.nav-links li:nth-child(6):hover ~ .active{
	top: 85.6%;
}
.logo-icom{
	display: none;
	width: 45px;

}
@media only screen and (max-width: 600px){
	.side-nav{
		width:110px;
	}
	.logo-icon{
		display: block;
	}
	.nav-links li a p{
		display: none;
	}
	.nav-links li a i{
		margin-right: 0;
	}
	.nav-linksli a{
		justify-content: center;
	}
	.side-nav:hover ul li{
		justify-content: flex-start;
	}
}
.strong {
	font-weight:300;
	font-size: larger;
} 
